---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

<Hero
  actions={[
    {
      variant: 'primary',
      text: 'Découvrir les services 🚀',
      href: '/contact',
      target: '_blank',
      icon: 'tabler:download',
    },
    { text: 'Accéder au support 24/7 📖', href: '#features' },
  ]}
  image={{ src: '~/assets/images/hero-image.png', alt: 'Cybtek Hero Image' }}
>
  <Fragment slot="title">
    Création <span class="hidden xl:inline">et mise en production de</span>
      <span class="text-accent dark:text-white highlight">vos Intelligences Artificielles</span> en toute simplicité !
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">Cybtek</span> propose des solutions innovantes et personnalisées pour l'IA et le support technique.</span
    >
    <span class="block mb-1 sm:hidden font-bold text-blue-600">Cybtek : Prêt pour la production 🚀.</span>
    Idéal pour les Startups, TPE-PME, Entrepreneurs...
  </Fragment>
</Hero>


  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

<Features
  id="features"
  tagline="Caractéristiques"
  title="Pourquoi Cybtek ?"
  subtitle="Les solutions open source parmi les plus professionnelles et complètes actuellement sur le marché. Conçu pour améliorer l'efficacité et la productivité."
  items={[
    {
      title: 'Intégration IA Avancée 🤖',
      description:
        'Une intégration fluide des technologies IA pour offrir des performances élevées et une grande polyvalence dans vos projets.',
      icon: 'tabler:device-desktop-analytics',
    },
    {
      title: 'Support Technique de Niveau 3 🛠️',
      description:
        'Support technique avancé disponible 24/7 pour résoudre vos problèmes les plus complexes et garantir la continuité de vos opérations.',
      icon: 'tabler:tools',
    },
    {
      title: 'Déploiement Docker 🚢',
      description:
        "Déploiement d'applications dans des conteneurs Docker pour une gestion simplifiée et une meilleure scalabilité.",
      icon: 'tabler:brand-docker',
    },
    {
      title: 'Formations Personnalisées 🎓',
      description:
        'Formations sur mesure pour maîtriser les technologies IA et les meilleures pratiques en développement et support technique.',
      icon: 'tabler:school',
    },
    {
      title: 'Solutions Open Source 🌐',
      description:
        'Implémentation et support des meilleures solutions open source comme WordPress, Odoo, et bien plus.',
      icon: 'tabler:brand-open-source',
    },
    {
      title: 'Optimisation pour les Moteurs de Recherche (SEO) 🔍',
      description:
        "Amélioration de la visibilité de votre site web pour attirer plus de trafic organique et atteindre une audience plus large.",
      icon: 'tabler:arrows-right-left',
    },
  ]}
/>

  <!-- Features Widget *************** -->

<Features
  id="features"
  tagline="Caractéristiques"
  title="Cybtek vous met à disposition"
  subtitle="Les solutions parmi les plus professionnelles et complètes actuellement sur le marché. Conçu pour améliorer l'efficacité et la productivité."
  items={[
    {
      title: 'Intégration IA Avancée 🤖',
      description:
        'Une intégration fluide des technologies IA pour offrir des performances élevées et une grande polyvalence dans vos projets.',
      icon: 'tabler:device-desktop-analytics',
    },
    {
      title: 'Support Technique de Niveau 3 🛠️',
      description:
        'Support technique avancé disponible 24/7 pour résoudre vos problèmes les plus complexes et garantir la continuité de vos opérations.',
      icon: 'tabler:tools',
    },
    {
      title: 'Déploiement Docker 🚢',
      description:
        "Déploiement d'applications dans des conteneurs Docker pour une gestion simplifiée et une meilleure scalabilité.",
      icon: 'tabler:brand-docker',
    },
    {
      title: 'Formations Personnalisées 🎓',
      description:
        'Formations sur mesure pour maîtriser les technologies IA et les meilleures pratiques en développement et support technique.',
      icon: 'tabler:school',
    },
    {
      title: 'Solutions Open Source 🌐',
      description:
        'Implémentation et support des meilleures solutions open source comme WordPress, Odoo, et bien plus.',
      icon: 'tabler:brand-open-source',
    },
    {
      title: 'Optimisation pour les Moteurs de Recherche (SEO) 🔍',
      description:
        "Amélioration de la visibilité de votre site web pour attirer plus de trafic organique et atteindre une audience plus large.",
      icon: 'tabler:arrows-right-left',
    },
  ]}
/>


<!-- Content Widget 2 **************** -->

<Content
  isAfterContent
  items={[
    {
      title: 'Personnalisation Élevée',
      description: `Adaptez facilement les solutions à l'identité et aux besoins de votre entreprise, rendant votre site distinctif et vous faisant gagner du temps.`,
      icon: 'tabler:adjustments',
    },
    {
      title: 'Possibilités de Mise en Page Multiples',
      description:
        'Explorez diverses options de mise en page pour trouver celle qui présente le mieux votre contenu, améliorant l’engagement et la navigation des utilisateurs.',
      icon: 'tabler:grid',
    },
    {
      title: 'Design Entièrement Réactif',
      description:
        "Assurez la performance optimale de votre site sur divers appareils et tailles d'écran, offrant une expérience utilisateur cohérente et agréable.",
      icon: 'tabler:devices',
    },
    {
      title: 'Intégration des Médias',
      description:
        'Incorporez facilement des images, vidéos et éléments multimédias qui enrichissent votre contenu et engagent efficacement les visiteurs.',
      icon: 'tabler:photo',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
    alt: 'Image de Personnalisation',
  }}
>
  <Fragment slot="content">Assurez-vous que votre présence en ligne vous représente véritablement.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<!-- Content Widget 3 **************** -->

<Content
  isReversed
  isAfterContent
  items={[
    {
      title: 'Engagement Utilisateur Amélioré',
      description:
        'Captivez votre audience avec des éléments interactifs, une navigation intuitive et des mises en page visuellement attrayantes, encourageant des visites plus longues.',
      icon: 'tabler:user-check',
    },
    {
      title: 'Amélioration Continue',
      description:
        'Assurez-vous que votre site reste aligné avec les dernières tendances et technologies grâce à des mises à jour et des améliorations régulières.',
      icon: 'tabler:refresh',
    },
    {
      title: 'Efficacité en Temps et Ressources',
      description:
        'Évitez le processus chronophage de création de site web de zéro et lancez votre présence en ligne plus rapidement avec les solutions de Cybtek.',
      icon: 'tabler:clock',
    },
    {
      title: 'Soutien Communautaire',
      description: `Rejoignez la communauté croissante de Cybtek pour des insights, des ressources et de l’assistance, assurant que vous n’êtes jamais seul dans votre parcours de développement web.`,
      icon: 'tabler:users',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'Image d\'Engagement',
  }}
>
  <Fragment slot="content">Conçu pour favoriser la croissance et le succès.</Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Lancez votre projet digital avec Cybtek en un rien de temps."
    items={[
      {
        title: 'Étape 1: <span class="font-medium">Analyse des Besoins</span>',
        description:
          "Commencez par une consultation gratuite pour comprendre vos besoins et objectifs. Nous vous aidons à définir une stratégie claire pour votre projet.",
        icon: 'tabler:package',
      },
      {
        title: 'Étape 2: <span class="font-medium">Ajout de Contenu</span>',
        description:
          "Ajoutez votre contenu, y compris des images, des textes et plus encore pour donner vie à votre espace digital. Le contenu est essentiel pour raconter votre histoire.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Étape 3: <span class="font-medium">Personnalisation des Styles</span>',
        description:
          'Apportez votre touche personnelle. Adaptez les couleurs, les polices et les mises en page jusqu’à ce que tout soit parfait. Votre style unique amplifié par Cybtek !',
        icon: 'tabler:paint',
      },
      {
        title: 'Prêt!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Image Étapes',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Découvrez plus de contenu sur notre Blog"
    information={`Le blog est utilisé pour afficher la documentation de Cybtek.
                        Chaque nouvel article sera une étape importante que vous devrez connaître pour devenir un expert en intelligence artificielle et support technique.
                        L'IA est une technologie très intéressante. Merci.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions Fréquemment Posées"
    subtitle="Plongez dans les questions suivantes pour découvrir les fonctionnalités puissantes que Cybtek offre et comment elles peuvent améliorer votre parcours de développement web."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Pourquoi choisir Cybtek ?',
        description:
          "Cybtek offre des solutions avancées en intelligence artificielle et support technique, adaptées aux besoins des entreprises modernes. Nous nous engageons à fournir des services de haute qualité pour améliorer votre productivité et efficacité.",
      },
      {
        title: 'De quoi ai-je besoin pour commencer ?',
        description:
          'Tout ce dont vous avez besoin est une idée claire de vos besoins et objectifs. Notre équipe vous guidera à travers chaque étape pour vous assurer une mise en place fluide et réussie de nos solutions.',
      },
      {
        title: 'Comment installer les solutions Cybtek ?',
        description:
          "L'installation de nos solutions est simple et rapide. Nous fournissons des guides détaillés et notre équipe est disponible pour vous assister tout au long du processus d'installation.",
      },
      {
        title: "Quelles sont les options de support disponibles ?",
        description:
          "Nous offrons plusieurs options de support, y compris l'assistance via GPT, les tickets de support technique, et les sessions de visioconférence pour répondre à tous vos besoins.",
      },
      {
        title: 'Quels sont les avantages des solutions Cybtek ?',
        description:
          "Nos solutions offrent une intégration avancée de l'IA, une personnalisation élevée, et une assistance technique de pointe pour assurer que votre entreprise reste à la pointe de la technologie.",
      },
      {
        title: 'Comment puis-je contribuer à Cybtek ?',
        description:
          "Nous encourageons les contributions de la communauté. Rejoignez-nous pour partager vos idées et aider à améliorer nos solutions. Ensemble, nous pouvons faire avancer la technologie.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clients Satisfaits', amount: '132' },
      { title: 'Projets Réussis', amount: '248' },
      { title: 'Applications Déployées', amount: '103' },
      { title: 'Heures de Support', amount: '484' },
    ]}
  />


  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contactez-nous',
        href: '/contact',
        target: '_self',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Cybtek&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">IA et Support Technique</span>
    </Fragment>

    <Fragment slot="subtitle">
      Soyez très surpris par les nombreux avantages que nous offrons. <br class="hidden md:inline" />Ne perdez plus de temps ! :P
    </Fragment>
  </CallToAction>
</Layout>
