---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Obtenez des services',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'En savoir plus', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Cybtek Hero Image' }}
  >
    <Fragment slot="title">
      Solutions <span class="hidden xl:inline">intégrées pour</span>
      <span class="text-accent dark:text-white highlight"> l'intelligence artificielle</span> et le support technique
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Cybtek</span> propose des solutions innovantes et personnalisées pour l'IA et le support technique.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Cybtek : Prêt pour la production.</span>
      Idéal pour les Startups, Petites Entreprises, Sites SaaS, Portfolios Professionnels, Sites Marketing, Pages de Destination et Blogs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

<Features
  id="features"
  tagline="Caractéristiques"
  title="Ce que vous obtenez avec Cybtek"
  subtitle="L'une des solutions les plus professionnelles et complètes actuellement sur le marché. Conçu pour améliorer l'efficacité et la productivité."
  items={[
    {
      title: 'Intégration IA Avancée',
      description:
        'Une intégration fluide entre diverses technologies IA pour offrir une productivité, des performances et une polyvalence élevées.',
      icon: 'tabler:brand-ai',
    },
    {
      title: 'Composants Prêts à l’Emploi',
      description:
        'Widgets prêts à l’emploi pour les sites de marketing, SaaS, blogs, profils personnels, petites entreprises...',
      icon: 'tabler:components',
    },
    {
      title: 'Meilleures Pratiques',
      description:
        'Création de sites web sécurisés, efficaces et conviviaux qui offrent des expériences exceptionnelles et une valeur durable.',
      icon: 'tabler:list-check',
    },
    {
      title: 'Excellente Vitesse de Page',
      description:
        'Avoir une bonne vitesse de page impacte le classement dans les recherches organiques, améliore l'expérience utilisateur (UI/UX) et augmente les taux de conversion.',
      icon: 'tabler:rocket',
    },
    {
      title: 'Optimisation pour les Moteurs de Recherche (SEO)',
      description:
        "L'optimisation SEO permet d'améliorer la visibilité d'un site web, de générer du trafic organique et d'atteindre une audience plus large.",
      icon: 'tabler:arrows-right-left',
    },
    {
      title: 'Ouvert aux nouvelles idées et contributions',
      description:
        'Favoriser une culture ouverte aux nouvelles idées et contributions est essentiel pour encourager l'innovation, la collaboration et une expérience utilisateur dynamique.',
      icon: 'tabler:bulb',
    },
  ]}
/>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Solutions Cybtek"
    title="Innovations pour votre transformation digitale"
    items={[
      {
        title: 'Intégration IA avancée',
        description:
          'Bénéficiez des performances et des fonctionnalités conviviales des dernières technologies IA pour transformer votre entreprise.',
      },
      {
        title: 'Assistance technique de pointe',
        description:
          'Un support technique rapide et efficace pour garantir la continuité et la performance de vos opérations.',
      },
      {
        title: 'Compatibilité multi-navigateurs',
        description:
          'Assurez-vous que votre site web fonctionne de manière cohérente sur divers navigateurs, offrant une expérience homogène à tous les utilisateurs.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Image Colorée',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Construisez sur des bases modernes</h3>
      Gagnez un avantage concurrentiel en intégrant des pratiques industrielles de pointe
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Personnalisation élevée',
        description: `Adaptez facilement les solutions à l'identité et aux besoins de votre marque, rendant votre site distinctif et vous faisant gagner du temps.`,
      },
      {
        title: 'Possibilités de mise en page multiples',
        description:
          'Explorez diverses options de mise en page pour trouver celle qui présente le mieux votre contenu, améliorant l’engagement et la navigation des utilisateurs.',
      },
      {
        title: 'Design entièrement réactif',
        description:
          "Assurez la performance optimale de votre site sur divers appareils et tailles d'écran, offrant une expérience utilisateur cohérente et agréable.",
      },
      {
        title: 'Intégration des médias',
        description:
          'Incorporez facilement des images, vidéos et éléments multimédias qui enrichissent votre contenu et engagent efficacement les visiteurs.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Image Plan',
    }}
  >
    <Fragment slot="content">Assurez-vous que votre présence en ligne vous représente véritablement.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Engagement utilisateur amélioré',
        description:
          'Captivez votre audience avec des éléments interactifs, une navigation intuitive et des mises en page visuellement attrayantes, encourageant des visites plus longues.',
      },
      {
        title: 'Amélioration continue',
        description:
          'Assurez-vous que votre site reste aligné avec les dernières tendances et technologies grâce à des mises à jour et des améliorations régulières.',
      },
      {
        title: 'Efficacité en temps et ressources',
        description:
          'Évitez le processus chronophage de création de site web de zéro et lancez votre présence en ligne plus rapidement avec les solutions de Cybtek.',
      },
      {
        title: 'Soutien communautaire',
        description: `Rejoignez la communauté croissante de Cybtek pour des insights, des ressources et de l’assistance, assurant que vous n’êtes jamais seul dans votre parcours de développement web.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Image Astronautes',
    }}
  >
    <Fragment slot="content">Conçu pour favoriser la croissance et le succès.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Lancez votre projet digital avec Cybtek en un rien de temps."
    items={[
      {
        title: 'Étape 1: <span class="font-medium">Analyse des Besoins</span>',
        description:
          "Commencez par une consultation gratuite pour comprendre vos besoins et objectifs. Nous vous aidons à définir une stratégie claire pour votre projet.",
        icon: 'tabler:package',
      },
      {
        title: 'Étape 2: <span class="font-medium">Ajout de Contenu</span>',
        description:
          "Ajoutez votre contenu, y compris des images, des textes et plus encore pour donner vie à votre espace digital. Le contenu est essentiel pour raconter votre histoire.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Étape 3: <span class="font-medium">Personnalisation des Styles</span>',
        description:
          'Apportez votre touche personnelle. Adaptez les couleurs, les polices et les mises en page jusqu’à ce que tout soit parfait. Votre style unique amplifié par Cybtek !',
        icon: 'tabler:paint',
      },
      {
        title: 'Prêt!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Image Étapes',
    }}
  />


  <!-- Features2 Widget ************** -->

  <Features2
    title="Widgets les plus utilisés"
    subtitle="Fournit des composants fréquemment utilisés pour la création de sites web avec Tailwind CSS"
    tagline="Composants"
    items={[
      {
        title: 'En-têtes',
        description: "Vous avez déjà essayé de conduire sans GPS ? Boom ! C'est pourquoi les sites web ont besoin d'en-têtes pour la direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Héros',
        description:
          "Imaginez un super-héros qui atterrit – épique, n'est-ce pas ? C'est le travail d'une section Héros, faire des entrées grandioses!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Caractéristiques',
        description:
          'Là où les sites web exhibent leurs atouts et montrent leurs super pouvoirs. Pas de retenue ici!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Contenu',
        description:
          "Plongez dans le cœur d'un site ; sans lui, vous ne feriez que du lèche-vitrine. Le contenu est roi.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Appel à l’action',
        description:
          'Ce bouton enthousiaste qui vous pousse toujours à "Agissez maintenant !". Ouais, c'est ce bouton qui vous incite à l’aventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Tarification',
        description: "Voici le menu dessert du monde des sites web. Des choix tentants vous attendent, pouvez-vous y résister?",
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Témoignages',
        description: 'Entrez dans le coin des potins ! Ici, d'autres visiteurs partagent les détails juteux.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Comme une boîte aux lettres numérique, mais plus rapide ! Envoyez un message, posez une question ou envoyez un high-five virtuel.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Pieds de page',
        description: "Le pied de page est comme les crédits d'un film mais avec des easter eggs. À vous de les découvrir!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


 <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Découvrez plus de contenu sur notre Blog"
    information={`Le blog est utilisé pour afficher la documentation de Cybtek.
                        Chaque nouvel article sera une étape importante que vous devrez connaître pour devenir un expert en intelligence artificielle et support technique.
                        L'IA est une technologie très intéressante. Merci.
                `}
  />


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions Fréquemment Posées"
    subtitle="Plongez dans les questions suivantes pour découvrir les fonctionnalités puissantes que Cybtek offre et comment elles peuvent améliorer votre parcours de développement web."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Pourquoi choisir Cybtek ?',
        description:
          "Cybtek offre des solutions avancées en intelligence artificielle et support technique, adaptées aux besoins des entreprises modernes. Nous nous engageons à fournir des services de haute qualité pour améliorer votre productivité et efficacité.",
      },
      {
        title: 'De quoi ai-je besoin pour commencer ?',
        description:
          'Tout ce dont vous avez besoin est une idée claire de vos besoins et objectifs. Notre équipe vous guidera à travers chaque étape pour vous assurer une mise en place fluide et réussie de nos solutions.',
      },
      {
        title: 'Comment installer les solutions Cybtek ?',
        description:
          "L'installation de nos solutions est simple et rapide. Nous fournissons des guides détaillés et notre équipe est disponible pour vous assister tout au long du processus d'installation.",
      },
      {
        title: "Quelles sont les options de support disponibles ?",
        description:
          "Nous offrons plusieurs options de support, y compris l'assistance via GPT, les tickets de support technique, et les sessions de visioconférence pour répondre à tous vos besoins.",
      },
      {
        title: 'Quels sont les avantages des solutions Cybtek ?',
        description:
          "Nos solutions offrent une intégration avancée de l'IA, une personnalisation élevée, et une assistance technique de pointe pour assurer que votre entreprise reste à la pointe de la technologie.",
      },
      {
        title: 'Comment puis-je contribuer à Cybtek ?',
        description:
          "Nous encourageons les contributions de la communauté. Rejoignez-nous pour partager vos idées et aider à améliorer nos solutions. Ensemble, nous pouvons faire avancer la technologie.",
      },
    ]}
  />


  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clients Satisfaits', amount: '132' },
      { title: 'Projets Réussis', amount: '248' },
      { title: 'Applications Déployées', amount: '103' },
      { title: 'Heures de Support', amount: '484' },
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contactez-nous',
        href: '/contact',
        target: '_self',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Cybtek&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">IA et Support Technique</span>
    </Fragment>

    <Fragment slot="subtitle">
      Soyez très surpris par les nombreux avantages que nous offrons. <br class="hidden md:inline" />Ne perdez plus de temps ! :P
    </Fragment>
  </CallToAction>
</Layout>
